body {
  background-color: black;
  color: white;
  font-family: 'Blanka', sans-serif;
}

p {
  font-size: 20px;
  text-align: center;
  font-family: 'Blanka', sans-serif;
}

logo {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  display: block;
}

h1,
p {
  margin-bottom: 0;
   font-family: 'Blanka', sans-serif;
}
